<div class="flex h-screen flex-col overflow-hidden">
  <%= render partial: "/user_pages/shared/nav" %>
  <div class="flex h-[94%]">
    <%= render partial: "/user_pages/shared/sidebar" %>
    <%= render partial: "user_pages/sections/requests_data" %>
  </div>
</div>
