<div class="hidden flex flex-col w-64 bg-white border-2 border-gray-300 md:block">
  <div class="flex flex-1 flex-col overflow-y-auto pt-5 pb-4">
    <nav class="mt-5 flex-1 space-y-3 bg-white px-2" aria-label="Sidebar">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

      <%= link_to "Home", user_home_path, class: "text-black hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md" %>
      <%= link_to "Members", admin_members_path, class: "text-black hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md" %>
      <%= link_to "Requests", admin_requests_path, class: "text-black hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md" %>
      <%= link_to "Time Logs", admin_time_logs_path, class: "text-black hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md" %>
    </nav>
  </div>
</div>
